@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    margin: auto;
}

.container {
    margin-top: 8em;
}

.navbar {
    justify-content: center;
    background-color: rgba(38, 231, 102, 0.781);
}

.navbar-text {
    margin: auto;
    color: black;
}

section {
    /* display: flex; */
    margin: 2em 0;
    padding: 2em;
    border: solid gray 1px;
    border-radius: 1em;
}

.parameters-form {
    display: flex;
    justify-content: space-between;
}

.parameters-form .form-outline {
    margin: 1em 0;
}