@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}

body {
    background: white;

    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 15em;
}

/* pasek górny */

.navbar {
    background-color: white;
}

@media only screen and (max-width: 992px) {
    /* małe ekrany */

    .navbar .navbar-nav .nav-link {
        color: green;
        font-size: 2em;
        font-weight: bold;
        text-align: right;
        margin-top: 8px;
        margin-right: 16px;
    }

    .newsletter-formularz {
        height: 10em;
    }

    .carousel .item h4 {
        font-size: 1.2em;
        margin-top: 1em;
    }

    .carousel .item p {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 992px) {
    /* duże ekrany */

    .navbar .navbar-brand {
        margin-left: 5%;
    }
    
    .navbar .navbar-nav {
        margin-right: 5%;
    }
    
    .navbar .navbar-nav .nav-link {
        color: green;
        font-size: 1.15em;
        font-weight: bold;
    }
    .navbar .navbar-nav .nav-link:hover{
        color: #808080;
    }
    
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 1em;
    }
    
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 0.2em solid black;
    }

    .carousel .item h4 {
        font-size: 1.6em;
        margin-top: 1em;
    }

    .carousel .item p {
        font-size: 1em;
    }
}

/* tekst główny */

.tekst-powitalny {
    display: flex;
    justify-content: space-between;
}

.tekst-glowny {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tekst-glowny h2 {
    font-size: 3em;
}

.tekst-glowny p {
	color: #606060;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 2em;
	text-align: left;

    margin: 20px 0;
}

.przyciski {
    width: 100%;
    margin-top: 1em;
}

.przycisk1 {
    width: 8em;
    height: 4em;
    background: #27902c;
    border: 3px solid #27902c;
    border-radius: 32px;
    color: white;

    margin-right: 6px;
}

.przycisk1:hover {
    width: 8em;
    height: 4em;
    background: white;
    border: 3px solid #27902c;
    border-radius: 32px;
    color: #27902c;

    margin-right: 6px;
}

.przycisk1:active {
    background-color: #4d854f;
    transform: translateY(4px);
}

.przycisk2 {
    width: 8em;
    height: 4em;
    background: white;
    border: 3px solid #27902c;
    border-radius: 32px;
    color: #27902c;

    margin-left: 6px;
}

.przycisk2:hover {
    width: 8em;
    height: 4em;
    background: #27902c;
    border: 3px solid white;
    border-radius: 32px;
    color: white;

    margin-left: 6px;
}

.przycisk2:active {
    background-color: #c5ebc5;
    transform: translateY(4px);
}

/* slider gorny */

.carousel .slider-zdj {
    width: 100%;
    border: solid #27902c 3px;
    border-radius: 16px;
}

.carousel-control-prev {
    margin-left: -60px;
}

.carousel-control-next {
    margin-right: -60px;
}

/* oferta */

#skok-oferta {
    margin-top: 15em;
}

.oferta {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.oferta h1 {
    margin: 50px 0;
    font-size: 3em;
}

/* slider oferta */

.slider-oferta {
	margin: 20px 0;
	padding: 0 70px;
}

.carousel .item {
	color: #747d89;
	text-align: center;
}

.carousel .thumb-wrapper {
    height: 100%;
	padding: 25px 15px;
	background: #fff;
    border: 3px solid #0b7110;
	border-radius: 1em;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.carousel .item img {
    border-radius: 2em;
    width: 80%;
    height: 8em;
}

.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 10px;
}

.carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}

.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}

.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.carousel-indicators {
	bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}

.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}

/* .informacje */

#skok-informacje {
    margin-top: 5em;
}

.informacje {
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

.informacje .row {
    display: flex;
    justify-content: space-between;
}

.informacje h1 {
    font-size: 3em;
    margin: 50px 0;
}

.informacje img {
    height: 20em;
    width: 100%;
    border-radius: 0px 20px;
    border: 2px solid black;
}

.informacje h2 {
    font-size: 2em;
}

.informacje p {
    color: #606060;
	font-size: 1em;
	line-height: 2em;
	text-align: left;

    margin: 20px 0;
}

.informacje button {
    width: 12em;
    height: 4em;

    color: white;

    background-color: #17973b;
    border: 2px solid white;
    border-radius: 2em;
}

.informacje button:hover {
    width: 12em;
    height: 4em;

    color: #17973b;

    background-color: white;
    border: 2px solid #17973b;
    border-radius: 2em;
}

.informacje button:active {
    background-color: #96ba96;
    transform: translateY(4px);
}

/* o nas */

#skok-o-nas {
    margin-top: 5em;
}

.o-nas {
    margin-top: 15em;
    padding: 60px 50px;

    background: #008726;
    border: 2px solid black;
    border-radius: 120px 0px;

    display: flex;
    justify-content: space-between;
}

.o-nas img {
    height: 90%;
    width: 90%;
    border-radius: 40px;
}

.o-nas h2 {
    font-size: 2.5em;
}

.o-nas p {
    color: black;
	font-size: 1em;
	line-height: 2em;
	text-align: left;

    margin-top: 0.3em;
}

/* newsletter */

#skok-stopka {
    margin-top: 10em;
}

.newsletter {
    margin-top: 10em;
}

.newsletter-formularz {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newsletter-email {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #27902c;
    border-radius: 4px;
    font-size: 1.4em;
    background-color: white;
    background-image: url('/assets/images/mail-icon.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    padding: 8px 16px 8px 64px;
    outline: none;
}

.newsletter-email:focus {
    border: 2px solid black;
}

#newsletter-regulamin {
    accent-color: #27902c;
    width: 20px;
    height: 20px;
}

.newsletter-formularz label {
    color: #0b7110;
    font-size: 1.3em;
}

.newsletter-formularz button {
    width: 8em;
    height: 2.6em;

    color: white;

    background-color: #27902c;
    border: 2px solid white;
    border-radius: 1em;
}

.newsletter-formularz button:hover {
    width: 8em;
    height: 2.6em;

    color: #27902c;

    background-color: white;
    border: 2px solid #27902c;
    border-radius: 1em;
}

.newsletter-formularz button:active {
    background-color: #96ba96;
    transform: translateY(4px);
}

.newsletter-tekst h2 {
    font-size: 2.2em;
    text-align: center;
}

.newsletter-tekst p {
    color: black;
	font-size: 1.1em;
	line-height: 2em;
	text-align: center;

    margin-top: 20px;
}

/* stopka */

.tlo-stopki {
    background: url('/assets/images/tlo2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stopka {
    font-size: 3em;
    padding: 1em;

    margin-top: 2em;
}

.stopka-tekst {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 0.2em;
    padding: 0.2em;

    background: rgba(255, 255, 255, 0.3);
}

.stopka-tekst h3 {
    font-size: 0.5em;
    font-weight: bold;
    color: black;
}

.stopka-tekst p {
    font-size: 0.4em;
    color: black;

    margin: 0;
}

/* informacje */

.tekst-box {
    margin-top: 5em;
    padding: 60px 50px;

    background: #008726;
    border: 2px solid black;

    display: flex;
    justify-content: space-between;
}

.prawy {
    border-radius: 120px 0px;
}

.lewy {
    border-radius: 0px 120px;
}

.prawy img {
    height: 90%;
    width: 90%;
    border-radius: 40px 0;
}

.lewy img {
    height: 90%;
    width: 90%;
    border-radius: 0 40px;
}

.tekst-box h2 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.tekst-box p {
    color: black;
	font-size: 1em;
	line-height: 2em;
	text-align: left;

    margin-top: 0.3em;
}

/* wycena */

.wycena {
    text-align: center;
    display: flex;
    justify-content: center;

    margin-top: 20em;
}

.wycena h1 {
    font-weight: bold;
}

.wycena p {
    font-size: 2em;
    padding: 0 10%;

    margin: 20px 0;
}

.wycena input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #27902c;
    border-radius: 4px;
    font-size: 1.4em;

    margin: 10px 0;
}

.wycena .zapisz {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wycena-name {
    background-color: white;
    background-image: url('/assets/images/user.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    padding: 8px 16px 8px 64px;
    outline: none;
}

.wycena-phone {
    background-color: white;
    background-image: url('/assets/images/telephone.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    padding: 8px 16px 8px 64px;
    outline: none;
}

.wycena-email {
    background-color: white;
    background-image: url('/assets/images/mail-icon.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    padding: 8px 16px 8px 64px;
    outline: none;
}

.wycena button {
    width: 9em;
    height: 3em;

    color: white;

    background-color: #17973b;
    border: 2px solid white;
    border-radius: 2em;
}

.wycena button {
    width: 9em;
    height: 3em;

    color: #17973b;

    background-color: white;
    border: 2px solid #17973b;
    border-radius: 2em;
}

.wycena button:active {
    background-color: #96ba96;
    transform: translateY(4px);
}